.secOneContent{
    /* Dimensões */
    width: 45%; height: auto;
    /* Posição */
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    /* Estilo */
    opacity: 0;
    text-align: center;
    /* Animação */
    animation: appear 2s ease;
    animation-fill-mode: forwards;
}

.secOneContent h1{
    /* Dimensões */
    margin-bottom: 25px;
    /* Estilo */
    color: #A1ACB3;
    font-size: 1.8em;
}
    .secOneContent h1 span{
        /* Estilo */
        color: #ABC6C9;
    }

.contentLine{
    /* Posição */
    position: relative;
    left: 40%;
    /* Dimensões */
    width: 100px; height: 2px;
    /* Estilo */
    background: #ABC6C9;
}

.secOneContent h3{
    /* Dimensões */
    margin-top: 25px;
    /* Estilo */
    color: #A1ACB3;
}

@keyframes appear {
    to{
        opacity: 1;
    }
}