/* 
    Icons
*/
.ico {
    width: 20px; height: 20px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.ico-notes { background-image: url("/images/notes.svg"); }
.ico-linkedin { background-image: url("/images/linkedin.svg"); }
.ico-github { background-image: url("/images/github.svg"); }
.ico-arrow-down { background-image: url("/images/down-arrow-icon.svg"); }
.ico-logo { background-image: url("/images/Hn.svg"); }

/* 
    Counter
*/
.counter > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
}

.counter > ul li:first-child { font-size: 3em; }
.counter > ul li span { border: 1px dashed white; }
.counter > ul li:last-child { font-weight: 300; font-size: 1.1em; writing-mode: sideways-lr; margin-top: 10px; }

.l-c {
    position: absolute;
    top: calc(200px - 100px); left: 0;
}

.r-c {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
}

/* 
    Title
*/
.title {
    width: fit-content;
    position: relative;
    top: 80px; left: 10%;
    text-transform: uppercase;
}

.title > span { font-weight: lighter; }

/* 
    Content
*/
.content { width: 100%; }