/* 
    Icons
*/
.ico {
    width: 20px; height: 20px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.ico-notes { background-image: url("/images/notes.svg"); }
.ico-linkedin { background-image: url("/images/linkedin.svg"); }
.ico-github { background-image: url("/images/github.svg"); }
.ico-arrow-down { background-image: url("/images/down-arrow-icon.svg"); }
.ico-logo { background-image: url("/images/Hn.svg"); }

/* 
    Counter
*/
.counter {
    height: 200px;
    transition: all 1s ease-out;
}

.counter.observed {
    opacity: 0;
    transition: all 1s ease-out;
}

.counter > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter > ul li:first-child { font-weight: lighter; font-size: 3em; }
/* .counter > ul li hr { display: inline-block; } */

.counter > ul li:last-child {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
}

.counter > ul li:last-child p {
    -webkit-transform: rotate(-90deg); /* Safari */
    -moz-transform: rotate(-90deg); /* Firefox */
    -ms-transform: rotate(-90deg); /* IE9 */
    -o-transform: rotate(-90deg); /* Opera */
    transform: rotate(-90deg);

    -webkit-transform-origin: center right; /* Safari */
    -moz-transform-origin: center right; /* Firefox */
    -ms-transform-origin: center right; /* IE9 */
    -o-transform-origin: center right; /* Opera */
    transform-origin: center right;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.l-c {
    position: absolute;
    top: calc(200px - 100px); left: 0;
}

.r-c {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    animation: counter-r-c 1s ease-out forwards;
}

@keyframes counter-r-c {
    from { right: -5%; opacity: 0; }
    to { right: 0%; opacity: 1; }
}

/* 
    Title
*/
.title {
    width: fit-content;
    position: relative;
    top: 80px; left: 10%;
    text-transform: uppercase;
    opacity: 0;
    transition: all 1s ease-out;
}

.title > span { font-weight: lighter; }

/* 
    Content
*/
.content { width: 100%; }