@import url("/styles/portfolio/module.css");

/* 
    Introduction
*/
.introduction-title {
    font-weight: bold;
    animation: title 1s ease-out forwards;
}
.introduction-epigraph {
    text-align: right;
    font-size: 1.3em;
    font-weight: lighter;
    animation: epigraph 1s ease-out forwards;
}

@keyframes title {
    from { left: -5%; opacity: 0; }
    to { left: 0%; opacity: 1; }
}

@keyframes epigraph {
    from { right: 0%; opacity: 0; }
    to { right: 10%; opacity: 1; }
}

/* 
    About me
*/
#about-me {
    background-image: url("/images/About-me.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.about-me-text { text-align: justify; }

.about-me-text p {
    opacity: 0;
    transition: all 1s ease-out;
}

.cubes {
    opacity: 0;
    transition: all 1s ease-out;
}

.cube {
    background-color: #0B0B0B;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.cube::before {
    border: 2px solid #8ECAE6;
    border-radius: 5px;
    transition: all .5s;
}

.cube:hover::before { background-color: #8ECAE6; }

/* 
    Knowledge
*/
.dropdown {
    opacity: 0;
    transition: all 1s ease-out;
}

.dropdown-top {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #0B0B0B;
}

.dropdown > ul li {
    border-radius: 5px;
    background-color: white;
    color: black;
}

.dropdown > ul li::before {
    border-radius: 3px;
    background-color: white;
}

.dropdown > ul li::after {
    border-radius: 3px;
    background-color: black;
}

/* 
    Projects
*/
.project {
    border-radius: 5px;
    background-color: #0B0B0B;
    opacity: 0;
    transition: all 1s ease-out;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.project::before {
    border: 1px solid #8ECAE6;
    border-radius: 5px;
}

.project:hover::before { background-color: #8ECAE6; }
